
<% layout('/layouts/Boilerplate') %>








<div class="row">
  <h1 class="text-center">Edit  villa</h1>
  <div class="col-6 offset-3">
    <form action="/villas/<%=villa._id%>?_method=PUT" method="POST">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="villa[title]"
          required
          value="<%=villa.title %>">
        
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="villa[location]"
          required
          value="<%=villa.location %>">
        
      </div>
      <div class="mb-3">
        <label class="form-label" for="Image">Image url </label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="villa[image]"
          required
          value="<%=villa.image %>">
        
      </div>
      


      <button class="btn btn-success">Edit villa</button>
    </form>
     <a href="/villas/<%= villa._id%>">Back To villa</a> 
  </div>
</div>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".validate_form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>





