
<% layout('/layouts/Boilerplate') %>








<div class="row">
  <h1 class="text-center">Edit  villa</h1>
  <div class="col-6 offset-3">
    <form action="/villas/<%=villa._id%>?_method=PUT" method="POST">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="villa[title]"
          value="<%=villa.title %>">
        
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="villa[location]"
          value="<%=villa.location %>">
        
      </div>
      <div class="mb-3">
        <label class="form-label" for="Image">Image url </label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="villa[image]"
          value="<%=villa.image %>">
        
      </div>
      


      <button class="btn btn-success">Edit villa</button>
    </form>
     <a href="/villas/<%= villa._id%>">Back To villa</a> 
  </div>
</div>





